
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  body
    p Hello #{firstName} #{lastName},
    p This e-mail has been sent to inform you that the password change on your account was successful.
    p Please use your new password to access your account again. If you find it difficult to remember your password, please use the "Forgot Password" option to create a new password.
    p If your account has not been changed to a different password, you may be relieved to know that your account is safe.
    p If you have not done this, please contact us.
    p Kind regards,
    p Blog team








